body, html {
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #c752eb;
}

table, td, th {
    border: solid #cf1515;
}

table {
    border-collapse: collapse;
    width: 100%;
}
a {
    background-color: #e388f7;
    border: solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1%;
}

a:hover {
    background-color: #d93d3d;
}

th {
    height: 50px;
}

td {
    text-align: center;
    padding: 10px;
}

h2 {
    background-color: #e388f7;
    border: solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1%;
}

.form {
    margin-top: 20px;   
}

#listinfo {
    width: 60%;
    margin-left: 17%;
    margin-bottom: 3%;
}

#listinfo:hover {
    background-color: #e388f7;
}

input {
    background-color:#e388f7;
}

input:hover {
    background-color: #d93d3d;
}
